<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/output.css">
</head>
<body class="bg-slate-800">
  <div class="hidden">
    <h1 class="text-red-500">Home</h1>
    <div id="btn-bar"></div>
  </div>

  <main class="flex flex-col
  justify-center
  items-center
  h-screen
  px-4
  gap-8
  lg:flex-row
  lg:w-3/4
  mx-auto
  text-white">
    <h1 id="title" class="text-4xl font-bold lg:w-[50%] lg:text-center lg:text-8xl">Titulo</h1>
    <div id="desc-container" class="flex-col gap-8 lg:w-[50%] mostrar-desc opacity-0">
      <p class="text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus praesentium, rerum blanditiis animi dolore deleniti! Enim veniam non possimus voluptas cumque odit doloremque illum temporibus ea. Esse, odio. Quidem, fugiat!</p>
      <button>Entrar a la app</button>
    </div>
  </main>
  <script src="index.js"></script>
 <script type="module" src="/components/LinkBtn.js"></script>
</body>
</html>